@model FinalProject.Models.TicketyModel.Staduim

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error_create";

}
<h1></h1>
<h4>Staduim</h4>
<h2>@ViewBag.error</h2>
<hr />
<div class="error">
    <div class="container">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <div class="clip"><div class="shadow"><span class="digit fifthDigit">E</span></div></div>
                <div class="clip"><div class="shadow"><span class="digit fourthDigit">R</span></div></div>
                <div class="clip"><div class="shadow"><span class="digit thirDigit">R</span></div></div>
                <div class="clip"><div class="shadow"><span class="digit secondDigit">0</span></div></div>
                <div class="clip"><div class="shadow"><span class="digit firstDigit">R</span></div></div>
                <div class="msg">OH!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">Sorry! there is an error</h2>
        </div>
        <div class="offset-5 err">
            <a href="/Staduims/getAllStadium" class="btn btn-info btn-lg mr-4 btnGoHome"> Go Back</a>
        </div>
    </div>
</div>
<!-- Error Page -->
