@{
    ViewBag.Title = "About";
}



<section class="Design m-5 pt-5">
    <div class="container">
        <div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h1 class="font-weight-bold"><span style="color:#70b700;" class="font-weight-bold">Who</span> we Are</h1>
                <p>TIckety is your way to enjoy your favorite matches and events. Through our portal, fans are allowed to register themselves to get a ID by which they can book tickets and attend sports events.</p>
                <p>we want you more comfortable so we thought to do this website. our website aims to facilitate reservation of match ticket from your house. you can book ticket of any match and number of tickets you need.</p>
                <button type="button" class="btn px-5 py-2" style="background-color:#70b700;">Read More</button>
            </div>
        </div>




    </div>
</section>


<section class="Data m-5">
    <div class="container">
        <div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h4 class="font-weight-bold">Booking and Delivery Fees</h4><hr />
                <p>
                    Orders placed online througth mail and It's confirmation Or we will
                    confirm througth mobile message .
                </p>
                <p>
                    Please note that where the delivery method of Post
                    or Collect is selected and time permits tickets will be posted in The Message .
                    Should you not receive your tickets prior to the match day please go to the Ticket
                    Office on the day of the game.
                </p>
            </div>
        </div>




    </div>
</section>



<section class="Data m-5 pb-5">
    <div class="container">
        <div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h4 class="font-weight-bold">Our Values</h4><hr />
                <p>
                    - Equal opportunities in booking tickets based on a first-come first-serve basis
                </p>
                <p>
                    - Original and legitimate tickets not subject to being copied
                </p>
                <p>
                    - Latest technologies in booking tickets
                </p>
                <p>
                    - Convenience in guaranteeing access to fans for any sports event
                </p>
            </div>
        </div>




    </div>
</section>




@*<div class="Footer-Div mt-5 ">
        <div class="over-lay">


            <div class="pt-5 pb-4" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                            <div>
                                <a class="navbar-brand text-white" href="#">

                                    <h3>Tickety</h3>

                                </a>
                                <p class="mb-4 ">
        TIckety is your way to enjoy your favorite matches and events. Through our portal, fans are allowed to register themselves to get a ID by which they can book tickets and attend sports events</p>

                                <a class="" style="color:#70b700;">Trusted by <span>500+ People</span></a>

                                <div>
                                    <ul class="nav">
                                        <li class="nav-item ">
                                            <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>

                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>

                                </div>



                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                            <p class="mb-4 font-weight-bold h5 text-white">Quick Links</p>
                            <div>
                                <ul class="recent-post nav">
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                </ul>



                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                            <p class="mb-4 font-weight-bold h5 text-white">Quick Links</p>
                            <div>

                                <ul class="recent-post nav">
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="fas fa-angle-double-right"></i>
                                        <span>Rendomised words which dont look eveable.</span>
                                    </li>
                                </ul>



                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
                            <p class="mb-4 font-weight-bold h5 text-white">Quick Links</p>
                            <div>
                                <ul class="recent-post nav">
                                    <li class="nav-item">
                                        <i class="fas fa-phone-square"></i>
                                        <span>+1(12) 123 456 789</span>
                                    </li>
                                    <li class="nav-item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>90 nsequursu dsdesdc, xxx Honey Street 049436.Newyork, NY..</span>
                                    </li>
                                    <li class="nav-item">

                                        <i class="fas fa-envelope-square"></i>
                                        <span>Tickety@gmail.com</span>
                                    </li>

                                    <li class="nav-item">

                                        <i class="fas fa-fax"></i>
                                        <span>+1(12) 123 456 789.</span>
                                    </li>


                                </ul>



                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </div>

    </div>*@






