@{
    ViewBag.Title = "Contact";
}




<section class="ContactUS">
    <div>
        <p class="h1 font-weight-bold text-capitalize text-center">Get in Touch</p>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-4 col-12">

                <div class="Info mt-5">
                    <div>
                        <p class="h6">Email</p>
                        <p class=" text-info">Tickety@gmai.com</p>
                    </div>

                    <div>
                        <p class="h6">Phone Number</p>
                        <p class=" text-info">002 010 955 985 34 </p>
                    </div>


                    <div>
                        <p class="h6">Address</p>
                        <p class=" text-info">90 nsequursu dsdesdc, xxx Honey Street 049436.Newyork, NY..</p>
                    </div>

                    <div>
                        <p class="h6">Fax</p>
                        <p class=" text-info">+1(12) 123 456 789.</p>
                    </div>


                    @*<ul class="nav">

                            <li class="nav-item ">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>90 nsequursu dsdesdc, xxx Honey Street 049436.Newyork, NY..</span>
                            </li>
                            <li class="nav-item m-1">
                                <i class="fas fa-phone-square"></i>
                                <span>+1(12) 123 456 789</span>
                            </li>
                            <li class="nav-item m-1">

                                <i class="fas fa-envelope-square"></i>
                                <span>info@example.com</span>
                            </li>

                            <li class="nav-item m-1">

                                <i class="fas fa-fax"></i>
                                <span>+1(12) 123 456 789.</span>
                            </li>


                        </ul>*@

                </div>

            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d440156.8565918045!2d30.821293550000004!3d30.47221385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1574816668540!5m2!1sen!2seg"
                    width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" class=" form-data col-md-7  offset-1 col-10 my-5"></iframe>


        </div>
    </div>
</section>
