
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/ticketproject.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>
        Error
    </title>
</head>
<body>
    <!-- Error Page -->
    <div class="error">
        <div class="container">
            <div class="col-xs-12 ground-color text-center">
                <div class="container-error-404">
                    <div class="clip"><div class="shadow"><span class="digit fifthDigit">E</span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit fourthDigit">R</span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit thirDigit">R</span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit secondDigit">0</span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit firstDigit">R</span></div></div>
                    <div class="msg">OH!<span class="triangle"></span></div>
                </div>
                <h2 class="h1">Sorry! there is an error</h2>
            </div>
            <div class="offset-5 err">
                <a href="#" class="btn btn-info btn-lg mr-4 mb-5 btnGoHome"> Go To Home</a>
                <a href="#" class="btn btn-info btn-lg btnContact mb-5">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- Error Page -->
</body>
</html>
